//default theme
$color__background-body: #fafafa;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #fafafa;
$color__link-visited: #fafafa;
$color__link-hover: #02b77b;
$color__text-main: #404040;
$color__text-ondark: #fafafa;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

// custom colors
$main_design: rgb(249,61,61);
$main_dev: rgb(7,184,126);
$main_res:rgb(244,215,5);
$footer:rgb(53,53,51);
$violet:rgb(117,89,163);