//default theme
$color__background-body: #fafafa;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #fafafa;
$color__link-visited: #fafafa;
$color__link-hover: #07b57a;
$color__text-main: #404040;
$color__text-ondark: #fafafa;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

// custom colors
$main_design: #f93d3d;
$main_dev: #07b57a;
$main_res:#efd502;
$footer:#353533 ;
$violet:#53308c;