html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: $color__background-body; /* Fallback for when there is no custom background color defined. */
}

blockquote, q {
	quotes: "" "";

	&:before,
	&:after {
		content: "";
	}
}

hr {
	background-color: $color__background-hr;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

@import "lists";

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

figure {
	margin: 1em 0; /* Extra wide images within figure tags don't overflow the content area. */
}

@import "tables";

.header-container {
  color: #5995DA;
  background-color: #D6E9FE;
  display: flex;
  justify-content: center;
}

.header {
    width: 900px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;  /* Add this */
}

//video
#front_video
{
  color:$color__text-ondark;
  height:730px;
  display:flex; 
  flex-direction: column; 
  justify-content: center;
  div{
    background-color: $violet; 
    opacity: 0.9;
    height:600px;
    width:40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content:space-around;
    a{
      border-radius:50px;
    }       
  }
}

#front_primary
{
  float: none;
}

.social,
.subscribe {
  align-self: flex-end;
  margin-bottom: 20px;
}

.photo-grid-container {
  display: flex;
  justify-content: center;
}

.photo-grid {
  width: 900px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;  /* <--- Really freaking cool! */
  align-items: center;
}

.photo-grid-item {
  border : none;
  width: 300px;
  height: 300px;
}

//Entreprises
#front_entreprises
{
  color:$color__text-ondark;
  height:730px;
  display:flex; 
  flex-direction: column; 
  justify-content: center;
  div{
    background-color: $violet; 
    opacity: 0.9;
    height:600px;
    width:40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content:space-around;
    a{
      border-radius:50px;
    }       
  }
}

//Contact

#front_contacts
{
  display: flex;
  justify-content: center;
  height:390px;
}

.item_contact
{
  width:38%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: flex-start;
}

#icon_contact
{
  width: 80%;
  display: flex;
  justify-content: space-around;
  i
  {
    background-color: lightgreen;
    width:20%;
    //en attendant les vrai icones
  }
}

#form_contact
{
  width: 80%;
  display: flex;
  input
  {
    border-radius: 50px !important;
    text-align: center;
    height: 45px;
    padding: 0;
    border: 1px solid;
  }
  input[type="email"]
  {
    flex:2;
    color:black;
    border-color: black;
  }
  input[type="submit"]
  {
    flex:1;
    margin-left: -45px;
    height: 47px;
    color:$color__text-ondark;
    border-color: $main_design;
    background: $main_design;
  }
}

// Footer
.site-info {
  display: flex;
  justify-content: space-between;
}

.footer-item {
  background-color: $footer;
  color: white;
  height: 100px;
  flex: 1;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
}

.footer-one,
.footer-three {
  flex: initial;
  width: 200px;
}

#icon_footer
{
  flex:0.5;
}