@import "../variables-site/colors";

//video
#front_video
{
  color:$color__text-ondark;
  height:730px;
  display:flex; 
  flex-direction: column; 
  justify-content: center;
  div{
    background-color: $violet; 
    opacity: 0.9;
    height:600px;
    width:40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content:space-around;
    a{
      border-radius:50px;
    }       
  }
}

#front_primary
{
  float: none;
}

.social,
.subscribe {
  align-self: flex-end;
  margin-bottom: 20px;
}

.photo-grid-container {
  display: flex;
  justify-content: center;
}

.photo-grid {
  width: 900px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;  /* <--- Really freaking cool! */
  align-items: center;
}

.photo-grid-item {
  border : none;
  width: 300px;
  height: 300px;
}

//Entreprises
#front_entreprises
{
  color:$color__text-ondark;
  height:730px;
  display:flex; 
  flex-direction: column; 
  justify-content: center;
  div{
    background-color: $violet; 
    opacity: 0.9;
    height:600px;
    width:40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content:space-around;
    a{
      border-radius:50px;
    }       
  }
}

//Contact

#front_contacts
{
  display: flex;
  justify-content: center;
  height:390px;
}

.item_contact
{
  width:38%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: flex-start;
}

#icon_contact
{
  width: 80%;
  display: flex;
  justify-content: space-around;
  i
  {
    background-color: lightgreen;
    width:20%;
    //en attendant les vrai icones
  }
}

#form_contact
{
  width: 80%;
  display: flex;
  input
  {
    border-radius: 50px !important;
    text-align: center;
    height: 45px;
    padding: 0;
    border: 1px solid;
  }
  input[type="email"]
  {
    flex:2;
    color:black;
    border-color: black;
  }
  input[type="submit"]
  {
    flex:1;
    margin-left: -45px;
    height: 47px;
    color:$color__text-ondark;
    border-color: $main_design;
    background: $main_design;
  }
}