@import "../variables-site/colors";

//video
#front_video
{
  color:$color__text-ondark;
  height:730px;
  display:flex; 
  flex-direction: column; 
  justify-content: center;
  div{
    background-color: $violet; 
    opacity: 0.9;
    height:600px;
    width:40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content:space-around;
    a{
      border-radius:50px;
    }       
  }
}

#front_primary
{
  float: none;
}

.social,
.subscribe {
  align-self: flex-end;
  margin-bottom: 20px;
}

.photo-grid-container {
  display: flex;
  justify-content: center;
}

.photo-grid {
  width: 900px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;  /* <--- Really freaking cool! */
  align-items: center;
}

.photo-grid-item {
  border : none;
  width: 300px;
  height: 300px;
}

//Entreprises
#front_entreprises
{
  color:$color__text-ondark;
  height:730px;
  display:flex; 
  flex-direction: column; 
  justify-content: center;
  div{
    background-color: $violet; 
    opacity: 0.9;
    height:600px;
    width:40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content:space-around;
    a{
      border-radius:50px;
    }       
  }
}

//Contact

#front_contacts
{
  display: flex;
  justify-content: center;
  align-items: center;
  height:390px;
}

.item_contact
{
  width:50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: flex-start;
}

#icon_contact
{
  width: 60%;
  display: flex;
  justify-content: space-around;
}

#form_contact
{
  width: 70%;
  display: flex;
  input
  {
    border-radius: 50px !important;
    text-align: center;
    height: 45px;
    padding: 0;
    box-shadow: 1px 5px 10px 0px rgba(0,0,0,.16);
    border: none;
  }
  input[type="email"]
  {
    flex:2;
  }
  input[type="submit"]
  {
    flex:1;
    margin-left: -45px;
    color:$color__text-ondark;
    background: $main_design;
  }
  ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: $color__text-main;
  }
  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: $color__text-main;
    opacity:  1;
  }
  ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: $color__text-main;
    opacity:  1;
  }
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: $color__text-main;
  }
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: $color__text-main;
  }
}